.maindiv{
    background-color: rgb(6, 6, 58);
    color: rgb(172, 198, 40);
    margin-left: 300px;
    margin-top: 50px;
    width: 200px;
    text-align: center;
}
.div2{
    margin-left: 200px;
    color: rgb(8, 8, 59);
}